// links
$linkcolor: lightblue;
a:link {
    color: $linkcolor;
}

a:visited{
    color: #3691b0;
}

a.nav:visited {
    color: $linkcolor;
}

a:hover {
    color: #ffdab9;
}


a.current {
    color: orange;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: None;
}

// font
$fontvar: "Helvetica", "Arial", sans-serif;

body {
    background-color: #161b22;
    color: white;
    margin: 5%;
    font-family: $fontvar;
    line-height: 1.6;
    text-align: justify;
}
